*, *::before, *::after {
  box-sizing: border-box;
}

@mixin layout {
  max-width: 1220px;
  padding: 0 25px;
  margin: 0 auto;
}

.l {
  @include layout;
}

.site-page {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  .site-footer,
  .site-header {
    flex-shrink: 0;
  }
  .site-main {
    flex-grow: 1;
  }
}

.site-main {
  position: relative;
}

.site-content {
  padding-top: 30px;
  width: 100%;
  padding-bottom: 100px;
  flex-grow: 1;
  & > .l {
    display: flex;
  }
  .site-middle {
    flex-grow: 1;
    min-width: 0;
    position: relative;
    z-index: 1;
  }
  .site-leftbar {
    order: -1;
    flex-shrink: 0;
    width: 270px;
    margin-right: 30px;
  }
  .site-rightbar {
    order: 1;
    flex-shrink: 0;
    width: 270px;
    margin-left: 30px;
  }
}

.page-front .site-content {
  padding-top: 0;
}

.site-popup {
  display: none;
}

.layout-center {
  .site-main {
    display: flex;
    flex-direction: column;
  }
  .site-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    & > .l {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 30px;
      .site-middle {
        flex-grow: 0;
      }
    }
  }
}

.maintenance-page {
  text-align: center;
  header {
    margin-bottom: 20px;
  }
  .layout-container {
    padding-bottom: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .site-middle {
    width: 100%;
  }
}
