$img: "images/";
$fonts: "fonts/";
//Basic project styles
$mainFont: 'ProximaNova',
'Arial',
'Helvetica',
sans-serif;
$secondFont: 'PTSans',
'Arial',
'Helvetica',
sans-serif;
$FSize: 14px;
$TColor: #333;
// $mainColor: #4D9923;
// $hoverColor: #FF9900;
$labelColor: #828282;
$redColor: #DF0000;
$yellowColor: #F9E248;
$colorBlue: #178DFB;
$color1: #4A4A4A;
$color2: #C5C5C5;
$color3: #E2E2E2;
$formBg: #F6F6F6;
$mainColor: $color1;
$hoverColor: $color2;